#footer-bottom {
	display:none;
}

div#page-container:before {
	display: block;
    position: fixed;
    z-index: 100000000;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/images/fg--footer__interior.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
}

.home div#page-container:before {
    background-image: url(../../assets/images/fg--footer__home.svg);
}


